@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0e1e1;
}
.container{
    width: 300px;
    height: auto;
    padding: 40px 30px;
    background-color: rgb(237, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
h4{
    font-size: 23px;
    color: #121212;
}
.form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
}
.inputField{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.inputField input{
    border:none;
    max-width: 20px;
    height: 60px;
    text-align: center;
    border-radius: 4px;
    background: #f0e1e1;
    font-size: 23px;
}
.inputField input::-webkit-inner-spin-button, .inputField input::-webkit-outer-spin-button {
    display: none;
}
.inputField input:focus{
    outline: 1.5px solid #66b900;
    outline-offset: 2px;
}
form button{
    margin-top: 25px;
    width: 92%;
    color: #525252;
    font-size: 14px;
    padding: 10px 0;
    font-weight: 600;
    border: none;
    border-radius:6px;
    pointer-events: none;
    cursor: pointer;
    background: #bae985;
    transition: all 0.3s ease;
}
form button:hover{
    background: #e6b8e6;
}
form button.active{
    background:#ffcc00;
    pointer-events: auto;
    color: #000;
}
